/* ---------- Color Module Styles ----------- */

body {
  color: #301313;
  background: #fd2eb3;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #f9dcd0;
}
.tabs ul.primary li a.is-active {
  background-color: #f9dcd0;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #f9dcd0;
  background-color: #f9dcd0;
}
#header {
  background-color: #fdd365;
  background-image: -webkit-linear-gradient(top, #61d4b3 0%, #fdd365 100%);
  background-image: linear-gradient(to bottom, #61d4b3 0%, #fdd365 100%);
}
a,
.link {
  color: #9d408d;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #da2a2a;
}
a:active,
.link:active {
  color: #e95353;
}
.sidebar .block {
  border-color: #f9dcd0;
  background-color: #f9dcd0;
}
.site-footer {
  background: #fd2eb3;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #010202;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
